div.post-page {
  margin-bottom: 15%;
}

div.post-page div.image {
  max-height: 390px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.edit-btn div.post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page > h1:first-child {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}

.topics-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2rem 0;
}

.topic-pill-btn-singlepost {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}
.topic-pill-btn-singlepost:hover {
  background-color: green;
}

.blog-author {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 8%;
  cursor: pointer;
}

.author-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
}

.updatedInfo {
  display: flex;
  align-items: center;
  color: #999;
}

.updatedInfo p {
  font-size: 14px;
  margin-right: 5px;
}

div .updatedInfo time {
  font-size: 14px;
}

@media (max-width: 420px) {
  .post-page > h1:first-child {
    font-size: 1.4rem;
  }
  div.post-page time {
    font-size: 0.6rem;
  }
}

.main-blog-options-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  max-width: 60%;
  margin: 2px auto;
  user-select: none;
}

.single-post-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
