div.post-page div.image {
  max-height: 390px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page > h1:first-child {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}
