@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #222;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
}

div {
  -webkit-tap-highlight-color: transparent;
}
