/* FORM INPUT */
.form-group {
  position: relative;
}

.form-group .input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  position: relative;
  height: 40px;
}

.form-group .input-box-label {
  font-weight: 600;
  margin-bottom: 5px;
}

.input-box-label-more-info {
  color: #999999;
  opacity: 68%;
  font-size: 0.7rem;
}

.char-count {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-60%);
  font-size: 14px;
  color: #ccc;
}

/* IMAGE INPUT */
.image-input-box {
  margin-bottom: 25px;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.image-input-label {
  margin-bottom: 5px;
  font-weight: 600;
}

.image-input-box::file-selector-button {
  color: white;
  margin-right: 20px;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background-color: #3e8e41;
  cursor: pointer;
}

/* PASSWORD INPUT */
.pass-wrap {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 33%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
