.topic-details-header {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
  margin-top: -20px;
}

.topic-title {
  text-align: center;
  padding-top: 0.9rem;
}

.stories-span {
  display: flex;
}

.topic-total {
  text-align: center;
}

.post-list {
  margin: 0 2%;
}

.post-card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px;
}
.post-card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}

.post-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  max-width: 20%;
  margin-left: 20px;
  margin-right: 0;
}

.post-image img {
  width: auto;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.post-content {
  flex: 1 1 auto;
  margin-right: 3%;
  font-size: 15px;
  word-wrap: break-word;
}

.post-content h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.post-content p {
  margin: 0 0 20px;
}

.post-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.post-meta > div:not(:last-child) {
  margin-right: 10px;
}

.author {
  font-weight: bold;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.author:hover {
  font-size: 0.9rem;
  color: #3e8e41;
}

.date::before {
  content: "|";
  margin: 0 8px;
}

@media (max-width: 520px) {
  .topic-title {
    text-align: left;
    padding-right: 3%;
    padding-top: 0;
  }
  .topic-total {
    display: flex;
    font-weight: 600;
    text-align: left;
    margin-left: 7%;
  }
  .stories-span {
    display: inline-block;
    padding-left: 3%;
    font-weight: 400;
  }
  .post-description {
    display: none;
  }
  .post-content h3 {
    min-height: 3rem;
    font-size: 0.9rem;
    word-wrap: break-word;
  }
  .post-image {
    max-width: 29%;
    object-fit: cover;
  }
  .post-meta {
    font-size: 0.8rem;
  }
}
