.bookmark-list-container {
  max-width: 1000px;
  margin: 0 auto;
}

.bookmark-card-container {
  display: flex;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  margin-bottom: 2%;
}

.bookmark-details {
  flex: 1;
  margin-right: 20px;
  padding: 15px;
}

.bookmark-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.story-count-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarks-view-more-options i {
  font-size: 20px;
  margin-top: 10px;
}

.posts-img-cards {
  width: 40%;
  display: flex;
}

.image-box {
  height: 125px;
}
.image-box:first-child {
  width: 50%;
}
.image-box:nth-child(2) {
  width: 30%;
}
.image-box:nth-child(3) {
  width: 20%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-box:nth-child(3) img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 450px) {
  .bookmark-card-container {
    flex-direction: column;
  }

  .bookmark-details {
    margin-right: 0;
    padding-bottom: 3px;
  }

  .bookmarks-view-more-options i {
    margin-right: 10px;
  }

  .posts-img-cards {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }
  .image-box:nth-child(1) img {
    border-bottom-left-radius: 5px;
  }
  .image-box:nth-child(3) img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
  }
}
