.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 170px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  animation: fadeInDown 0.3s ease;
  padding: 0;
  user-select: none;
}

.dropdown-item {
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e0e0e0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-link-item {
  color: red;
}
